*{
    font-family: 'Indie Flower', cursive;
    
}

body{
    background-color: rgb(232,238,228, 0.1);
}

header{
    background-color: rgb(201, 219, 178);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
}


#logo{
    height: 50px;
    width: 50px;  
}

ul {
    list-style-type: none;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(170, 200, 167);
}

#todoList{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#table{
    text-align: center;
    border: 5px solid rgb(170, 200, 167);
    margin: auto;
    width: 50%;
    padding: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(170, 200, 167);
    border-left: 1px solid rgb(170, 200, 167);

}

tr:hover {
    background-color: rgba(170, 200, 167, 0.3);
}

footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(201, 219, 178);
    color: black;
    text-align: center;
}

