*{
    font-family: 'Indie Flower', cursive;
}

body{
    background-color: rgb(232,238,228, 0.1);
}

header{
    background-color: rgb(201, 219, 178);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
    border-radius: 0.5rem;
    font-size: larger;
    gap: 20px;
}

.logoPic{
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.logoPic:hover{
    transform: scale(0.9);
}

ul {
    list-style-type: none;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(170, 200, 167);
    transform: scale(0.75);
    border-radius: 8px;
}

#todoList{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#table{
    text-align: center;
    border: 5px solid rgb(170, 200, 167);
    margin: auto;
    width: 50%;
    padding: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(170, 200, 167);
    border-left: 1px solid rgb(170, 200, 167);
}

th {
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgb(170, 200, 167);
}

#table thead th {
    background-color: rgb(201, 219, 178);
    color: black;
    text-align: center;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(170, 200, 167);
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: rgb(170, 200, 167);
}

input[type="checkbox"]:hover {
    background-color: rgba(170, 200, 167, 0.3);
}

tr:hover {
    background-color: rgba(170, 200, 167, 0.3);
}

.imgesStyle{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.imgesStyle > div{
    flex: 1;
    border-radius: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    margin-top: 50px;
    margin-bottom: 25px;
}

.imgesStyle > div:hover{
    flex: 2;
}

footer{
    /* left: 0;
    bottom: 0;
    width: 100%; */
    background-color: rgb(201, 219, 178);
    color: black;
    text-align: center;
    border-radius: 0.5rem;
    padding: 5px;
    font-size: 14px;
    /* margin-bottom: 8px; */
    /* margin-left: 0;
    margin-right: 0; */
}

/* footer p:not(:last-child) {
    margin-bottom: 12px;
} */
