*{
    font-family: 'Indie Flower', cursive;
    
}

body{
    background-color: rgb(232,238,228, 0.1);
}

header{
    background-color: rgb(201, 219, 178);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0.5rem;
    font-size: larger;
    gap: 20px;
}

.logoPic{
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.logoPic:hover{
    transform: scale(0.9);
}

ul {
    list-style-type: none;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(170, 200, 167);
    transform: scale(0.75);
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.owner-info{
    padding: 20px;
    width: 300px;
    text-align: center;
    flex-basis: 45%;
    margin: 10px;
    /* background-color: rgba(201, 219, 178, 0.5);
    border: 1px solid #ccc; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.owner-info:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#owner-img{
    /* border-radius: 8%; */
    /* margin-bottom: 10px; */
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.ownerPic:hover{
    transform: scale(0.9);
}

h3{
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

p{
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

.Form{
    flex-basis: 45%;
    margin: 10px;
    padding: 20px;
}

.Form h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.Form h1:hover{
    transform: scale(0.85);
}
  
.Form input,
.Form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.Form textarea {
    resize: vertical;
}
  
.Form input[type="submit"] {
    background-color: rgb(201, 219, 178);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* cool way to make the mouse pointer to change apperance */
    cursor: pointer;
    width: 100px;

}
  
.Form input[type="submit"]:hover {
    background-color: rgb(170, 200, 167);
    transform: scale(0.9);
}  

footer{
    /* left: 0; */
    /* bottom: 0; */
    /* width: 100%; */
    background-color: rgb(201, 219, 178);
    color: black;
    text-align: center;
    border-radius: 0.5rem;
    padding: 5px;
    font-size: 14px;
    /* margin-bottom: 8px; */
    /* margin-left: 0;
    margin-right: 0; */
}

/* footer p:not(:last-child) {
    margin-bottom: 12px;
} */