*{
    font-family: 'Indie Flower', cursive;
    
}

body{
    background-color: rgb(232,238,228, 0.1);
}

header{
    background-color: rgb(201, 219, 178);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
}


#logo{
    height: 50px;
    width: 50px;  
}

ul {
    list-style-type: none;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(170, 200, 167);
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.owner-info{
    padding: 20px;
    width: 300px;
    text-align: center;
    flex-basis: 45%;
    margin: 10px;
}

.Form{
    flex-basis: 45%;
    margin: 10px;
}

#owner-img{
    border-radius: 8%;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 5px;
}

p{
    margin-bottom: 3px;
}

.Form h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

  
.Form input,
.Form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.Form input[type="submit"] {
    background-color: rgb(201, 219, 178);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* cool way to make the mouse pointer to change apperance */
    cursor: pointer;
    width: 100px;

}
  
.Form input[type="submit"]:hover {
    background-color: rgb(170, 200, 167);
}

  
  

footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(201, 219, 178);
    color: black;
    text-align: center;
}